<div class="row">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Detail Article</h1>
    </div>

    <div class="col-lg-12">
        <!-- Basic Card Example -->
        @foreach (var article in Model)
        {
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Detail Article</h6>
                </div>
                <div class="card-body">
                    Article ID : @article.ArticleID &nbsp;
                    Article Title : @article.Title &nbsp;
                    Article Details : @article.Details &nbsp;
                    Published : @article.PublishDate &nbsp;
                    Approved : @article.IsApproved ? "Yes" : "No" &nbsp;
                </div>
            </div>
        }
    </div>
</div>
